.wall{
    background: -webkit-gradient(linear, left top, right bottom, from(#66ffff), to(#6600ff));
    width: 480px;
    height: 320px;
    border: 20px groove #0000ff;
    border-radius:20px;
    text-align: center;
}
    
.wall span{
    line-height: 320px;
    font-weight: bold;
    font-size: 6em;
    color: #ffffff;
    -webkit-box-reflect: below;
}